.card {
  display: grid;
  flex-direction: column;
  list-style: none;
  border-radius: 10px 10px 0 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, san-serif;
}

.card__image {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  height: 87px;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.card__title {
  max-width: 193px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center;
  width: 21px;
  height: 18px;
  margin-left: auto;
  display: inline-block;
  transition: opacity;
  border: none;
  color: white;
  text-decoration: none;
  margin-right: 5%;
  transition: opacity 0.4s;
}

.card__like-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

  .card__image {
    width: 100%;
  }

  .card__description {
    width: 100%;
  }

  .card__title {
    width: 100%;
  }

  .card__like-button {
    width: 100%;
  }

  .card__like-button:hover {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .card {
    width: 100%;
  }

  .card__image {
    width: 100%;
  }

  .card__description {
    width: 100%;
  }

  .card__title {
    width: 100%;
  }

  .card__like-button {
    width: 100%;
    overflow: hidden;
  }

  .card__like-button:hover {
    width: 100%;
    overflow: hidden;
  }
}
