.footer {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 33%);
  line-height: 1.2;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.footer__copyright {
  padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .footer__copyright {
    margin-left: 65px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    font-size: 14px;
  }
}
