.footer {
  color: hsl(0, 0%, 33%);
  display: grid;
  grid-template-columns: footer;
  padding-top: 45px;
  padding-bottom: 20px;
  margin-left: 200px;
  line-height: 1.2;
  font-family: "Inter", Arial, Helvetica, san-serif;
  position: absolute;
}

.footer__content {
  margin: auto;
}

.footer__copyright {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    width: 100%;
  }

  .footer__content {
    width: 100%;
  }

  .footer__copyright {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
  }

  .footer__content {
    position: absolute;
    width: 100%;
  }

  .footer__copyright {
    position: absolute;
    width: 100%;
  }
}
