.footer {
  color: hsl(0, 0%, 33%);
  display: grid;
  line-height: 1.2;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.footer__content {
  margin: 237px, auto;
  padding-bottom: 30px;
}

.footer__copyright {
  margin: 237px, auto;
  padding-bottom: 30px;
}

@media screen and (max-width: 612px) {
  .footer {
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 14px;
  }
}
