.gallery {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  border-radius: 10px 10px 0 0;
  display: grid;
  margin-top: 20px;
  max-width: 100%;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: min-content;
  grid-gap: 20px 17px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 612px) {
  .gallery {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    max-width: 100%;
  }
}
