.header {
  position: relative;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  border-bottom-width: 100%;
  margin: 0;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 320px) {
  .header {
    display: flex;
    justify-content: left;
  }
}
