.header {
  position: relative;
  padding-top: 45px;
  border-style: solid;
  border-color: black black #545454;
  border-bottom-width: 41px;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
  }
}
