@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: auto;
  }

  .profile__title {
    max-width: auto;
  }

  .profile__image {
    margin: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .gallery {
    width: auto;
  }

  .footer {
    width: auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__info {
    grid-template-columns: auto;
  }

  .profile__title {
    max-width: auto;
  }

  .profile__image {
    margin: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .gallery {
    width: auto;
  }

  .footer {
    width: auto;
  }
}
