.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.25);
  color: #000;
  z-index: 999;
}

.modal__container {
  background-color: #fff;
  position: relative;
  margin: 195px 425px 195px 425px;
  padding-left: 36px;
  padding-top: 34px;
  padding-right: 64px;
  width: 430px;
  height: 330px;
  border-radius: 10px;
}

.modal__close {
  background-image: url("../images/close-button.svg");
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -45px;
  right: -45px;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 0;
}

.modal__close:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__title {
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900px;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  /* padding: 34px 36px; 
  margin: 0; */
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 33px;
}

.modal__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  line-height: 1;
  width: 358px;
  height: 14px;
  gap: 30px;
  padding: 0;
  margin: 0;
  border: 1px;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
}

.modal__button {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  width: 358px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  margin: 18px auto 0;
  padding: 0;
}

.modal__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 586px) {
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 20px);
    left: calc(100% - 26px);
  }

  .modal__container {
    padding: 25px 22px 25px 22px;
    width: 282px;
    height: 322px;
  }

  .modal__title {
    margin: 0 0 75px;
    font-size: 14px;
    font-weight: 400;
    width: 238px;
    height: 22px;
    line-height: 1.1;
  }

  .modal__input {
    width: 238px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    padding: 14px 100px 14px 100px;
  }
}
