.page {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 0 20px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.page__section {
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 768px) {
  .page__content {
    padding: 0;
  }
}
