.page {
  background-color: black;
  color: white;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.page__section {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 45px;
  border-radius: 1px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  position: relative;
  margin-top: 45px;
  max-width: 880px;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  width: 100%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin: auto 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-template: title;
  margin: 0;
  position: relative;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-template: description;
  margin: 22px 0 0 0;
  position: relative;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.png) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px;
  padding-left: 3.15px;
  margin-left: -50px;
  margin-top: 10px;
  transition: opacity 0.4s;
}

.profile__edit-button:hover {
  opacity: 50%;
}

.profile__add-button {
  background: transparent url(../images/add-button.png) center no-repeat;
  height: 50px;
  width: 150px;
  grid-area: button;
  border: 1px;
  padding-left: 10px;
  transition: opacity 0.4s;
  margin-left: 225px;
}

.profile__add-button:hover {
  opacity: 50%;
}

.gallery {
  font-family: "Inter", Arial, san-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-top: 30px;
  display: grid;

  max-height: 742px;
  border-radius: 10px 10px 0 0;
}

.gallery__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px 10px 0 0;
  padding: 0;
}

.card__image {
  display: block;
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  height: 87px;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.card__title {
  max-width: 193px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  padding-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button.svg) center;
  width: 21px;
  height: 18px;
  margin-left: auto;
  display: inline-block;
  transition: opacity;
  border: none;
  color: white;
  text-decoration: none;
  margin-right: 5%;
  transition: opacity 0.4s;
}

.card__like-button:hover {
  opacity: 50%;
}

.footer {
  color: #545454;
  height: 18px;
  padding-bottom: 10rem;
  grid-area: footer;
  overflow: auto;
  align-self: end;
}

.footer__content {
  margin-left: 200px;
}

.footer__copyright {
  margin: 108px 0 0;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    width: 100%;
    margin-left: 62px;
    margin-right: 62px;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    width: 196px;
    height: 22px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 62px;
    margin-right: 62px;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
